* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Times New Roman", Times, serif;
}
main,header,nav,article,footer {
    border: 2px solid white;
    padding: 10px;
    background-color: #a62132;
    grid-gap: 10px;
}
main {
    display: grid;
    grid-template-areas: "h h" "a n" "f f";
}
body {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    background-color: #145c4e;
    color: white;
}
header {
    grid-area: h;
}
header h1 {
    font-size: 200%;
    padding: 10px 0px 10px;
    text-align: center;
}
img {
    width: 100%;
}
nav {
    grid-area: n;
    background-color: black;
}
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
}
nav ul li {
    margin-bottom: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}






article {
    grid-area: a;
}

article h2 {
    color: black;
    font-size: 20px;
    padding: 15px 0px 15px;
}


article .keret {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 3px;
}
article .keret div {
    padding: 3px;
}


footer {
    grid-area: f;
}











/*töréspont media query-vel*/
/*Tablet*/
@media only screen and (max-width: 700px) {
    body {
      width: 100%;
      font-size: 2vw;
      padding: 2px;
    }
    main {
        grid-template-areas: "h" "n" "a" "f";
    }
    header h1 {
        padding: 3px 0px 3px 0px;
        font-size: 21px;
    }
    nav {
        background-color: white;
        padding: 5px 0px 0px 1px;
    }
    nav ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr;
        background-color: #d3d3d3;
    }
    nav li {
        border: 1px solid gray;
        padding: 10px;
    }
    nav a {
        font-size: 110%;
        border-left: 0px;
        padding: 0px;
    }
    nav .kezdolapli{
        background-color: #cf0033;
    }
    article .keret {
        grid-template-columns: 1fr;
        grid-template-rows: 12fr;
    }
  }








@media only screen and (max-width: 400px) {
    body {
        width: 100%;
        font-size: 5vw;
    }
}