* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Times New Roman", Times, serif;
}
main,header,nav,article {
    border: 1px solid gray;
    padding: 10px;
    display: grid;
    grid-gap: 3px;
}
body {
    width: 90%;
    max-width: 800px;
    margin: auto;
    background-image: url('kepek/hatter.jpg');
    padding: 10px;
}
header h1 {
    color: black;
    font-size: 20px;
    padding: 10px 0px 10px;
}
img {
    width: 100%;
}
nav {
    background-color: #d3d3d3;
    padding: 5px 0px 3px 1px;
}
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
}
nav li {
    text-align: ;
}
nav a{
    padding: 5px;
    color: #cf0033;
    text-decoration: none;
    font-size: 11px;
    border-left: 1px solid black;
    vertical-align: top;
}
nav .kezdolapa {
    background-color: #cf0033;
    color: white;
}







article h2 {
    color: black;
    font-size: 20px;
    padding: 15px 0px 15px;
}


article .keret {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 3px;
}
article .keret div {
    padding: 3px;
}














/*töréspont media query-vel*/
/*Tablet*/
@media only screen and (max-width: 700px) {
    body {
      width: 100%;
      font-size: 2vw;
      padding: 2px;
    }
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto auto 50px;
    }
    header h1 {
        padding: 3px 0px 3px 0px;
        font-size: 21px;
    }
    nav {
        background-color: white;
        padding: 5px 0px 0px 1px;
    }
    nav ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr;
        background-color: #d3d3d3;
    }
    nav li {
        border: 1px solid gray;
        padding: 10px;
    }
    nav a {
        font-size: 110%;
        border-left: 0px;
        padding: 0px;
    }
    nav .kezdolapli{
        background-color: #cf0033;
    }
    article .keret {
        grid-template-columns: 1fr;
        grid-template-rows: 12fr;
    }
  }








@media only screen and (max-width: 400px) {
    body {
        width: 100%;
        font-size: 5vw;
    }
}